{
    "csrf": {
        "key": "", // 32 bytes Mandatory
        "secure": false
    },
    "database": {
        "host": "",
        "port": 5432,
        "user": "",
        "password": "",
        "database": "",
        "ssl_mode": ""
    },
    "server": {
        "address": ":8080"
    },
    "session": {
        "token_size": 64
    },
    "smtp": {
        "host": "sandbox.smtp.mailtrap.io",
        "port": 587,
        "username": "",
        "password": ""
    }
}
